*{
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
    top: 50px;
}
#Main{
    position: relative;
    width: 1200px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}
#Welconecontent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    margin-top: 40px;
}
#nobookingContent{
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}
.bladeline{
    border: 1px solid #E8E8E8;
    width: 1200px;
    max-width: 100%;
    background-color: #E8E8E8;
    margin-top: 30px;
    margin-bottom: 30px ;
}



/* JS自動生成 */
.attractionBox{
    display: flex;
    position: relative;
    width: 100%;
}
.imgbox{
    width:300px;
    height: 200px;
    margin-right: 20px;
}
.attractionBox>.InfoBox{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}
.attractionBox>.InfoBox>.InfocontentBox{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    align-items: center
}
.attractionBox>.InfoBox>.InfocontentBox>div{
    font-size: 16px;
    font-weight: 400;
}
.attractionBox>.InfoBox>.InfotitleBox{
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #448899;
    align-items: center
}
.attractionBox>.InfoBox>.InfotitleBox>div{
    font-size: 16px;
    font-weight: 700;
    color: #448899;
}
.Delete_icon{
    /* bottom: -5%; */
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10%;
    cursor: pointer;
}
.Delete_icon>img{
    height: 100%;
    cursor: pointer;

}
@media (max-width:600px) {
    .attractionBox{
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
    }

    .Delete_icon{
        bottom: -5%;
        height: 30px;
        width: 30px;
        position: absolute;
        right: 10px;
        top: auto;
        cursor: pointer;
    }
}

/* 外接金流 */
.container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#bookingContent > div.container > form > div.title{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
#bookingContent > div.container > form > div.tip{
    font-size: 16px;
    font-weight: 700;

}

/* form {
    padding: 40px;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
} */
#bookingContent > div.container > form > div.form-group{
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
#bookingContent > div.container > form > div.form-group> label{
    width: 100px;
    padding: 0px;
    margin-right: 5px;
}
#bookingContent > div.container > form > div.form-group > input{
    width: 80%;
}
#bookingContent > div.container > form > div.handingBox > div{
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
#totalaccount{
    margin-left: 5px;
    margin-right: 5px;
}
#bookingContent > div.container > form > div.handingBox > div > div{
    display: flex;
    font-size: 16px;
}
#bookingContent > div.container > form > div.handingBox > div > button{
    background-color: #448899;
    color: white;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    padding: 0px;
    border: 1px gray;
    font-size: 19px;
    margin-bottom: 45px;
}





.tappay-field-focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.has-error .tappay-field-focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-success .tappay-field-focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

