<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../data/style/Top.css" type="text/css">
    <link rel="stylesheet" href="../data/style/Slogan&Search(SS).css" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
        integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
        crossorigin="anonymous"></script>
</head>

<header class="titleAndindex">
    <!-- box -->
    <div class="headerIndexbox">
        <div>台北一日遊</div>
        <div class="box">
            <div>預定行程</div>
            <div>登入/註冊</div>
        </div>
    </div>
</header>
<div class="sloganAndsearch">
    <div class="img"><img class="sloganimg" src="../data/img/D.G.Hotel.png" alt="花園酒店素描"></div>
    <div class="box">
        <div class="sloganbox">
            <p class="title">輕鬆享受台北一日悠閒</p>
            <p class="content">探索每個角落，體驗城市的深度旅遊行程</p>
        </div>
        <div class="searchbox">
            <input class="input" type="text" name="searchName" id="searchName" placeholder="輸入景點名稱查詢">
            <button class="btnicon" type="submit">
                <i class="fas fa-search" style="color: white;width: 30px;height: 30px;"></i>
            </button>
        </div>
    </div>
    <!-- <div class="img"><img class="sloganimg" src="../data/img/D.G.Hotel.png" alt="花園酒店素描"></div> -->
    <!-- <img class="sloganimg" src="../data/img/D.G.Hotel.png" alt="花園酒店素描"> -->
</div>

<body>
    <main>

    </main>
</body>

</html>