<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/style/Footer.css" type="text/css">
    <link rel="stylesheet" href="/style/img.css" type="text/css">
    <link rel="stylesheet" href="/style/signB&B.css" type="text/css">
    <link rel="stylesheet" href="/style/Top.css" type="text/css">
    <link rel="stylesheet" href="/style/Main_thankyou.css" type="text/css">

</head>

<header class="titleAndindex">
    <div class="headerIndexbox">
        <div class="BTN" onclick="gohomepage()">台北一日遊</div>
        <div class="box">
            <div class="BTN" onclick="booking()">預定行程</div>
            <div class="BTN" id="singnboxBTN" onclick="showsignbox() ">登入/註冊</div>
        </div>
    </div>
</header>

<body>
    <div class="BTN" id="signBackground" onclick="closesignbox()"></div>
    <div id="signBox">
        <!-- 預設燈入為初始畫面 點擊後變更為註冊畫面 -->
        <!--    div display切換 or JS生成 -->
        <div class="head"></div>
        <img src="/img/icon/close.png" alt="" class="BTN" onclick="closesignbox()">
        <div id="signinInfobox" class="signinInfobox">
            <form id="A_signin" action="/A_signin" method="POST">
                <div class="title">登入會員帳號</div>
                <input type="text" name="signinEmail" placeholder="請輸入電子郵件" required>
                <input type="password" name="signinPassword" placeholder="請輸入密碼" required>
                <div class="button BTN" onclick="signin()">
                    <p>登入帳戶</p>
                </div>
                <div id="signinMessage"></div>
                <div class="content BTN">還沒有註冊嗎?點此<p class="BTN" onclick="showsignUpInfo()">註冊</p>
                </div>
            </form>
        </div>
        <div id="signupInfobox" class="signupInfobox">
            <form id="A_signup" action="/A_signup" method="POST">
                <div class="title">註冊會員帳號</div>
                <input type="text" name="signupUsername" placeholder="請輸入姓名" required>
                <input type="text" name="signupEnail" placeholder="請輸入電子郵件" required>
                <input type="text" name="signupPassword" placeholder="請輸入密碼" required>
                <div class="button BTN" onclick="signup()">
                    <p>
                        註冊新帳戶
                    </p>
                </div>
                <div id="signupMessage"></div>
                <div class="content BTN">已經有帳號了嗎?點此<p class="BTN" onclick="showsignInInfo()">登入</p>
                </div>
            </form>
        </div>
    </div>
    <div class="contentSpace">
        <div id="thankyouMessagebox">
            <div id="usernamebox">親愛的使用者，<p>test</p>
            </div>
            <div id="orderNumberbox">您的訂單編號是 <p>123456789</p>
            </div>
            <div id="messagebox">請記好您的訂單編號已供未來查詢
                <p>非常感謝您的預約</p>
            </div>
            <div class="goHome">返回<p class="BTN">首頁</p>
            </div>

        </div>
    </div>
</body>

<footer>
    <p>COPYRIGHT © 2021 台北一日遊</p>
</footer>
<script type="text/javascript" src="/JS/click.js"></script>
<script type="text/javascript" src="/JS/sign.js"></script>
<script type="text/javascript" src="/JS/thankyou.js"></script>

</html>